@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.2;
}

p,
li,
a,
input,
button,
textarea,
select {
  line-height: 1.5;
}