.card {
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.display-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  scroll-behavior: smooth;
}

.display-container a {
  transition: 0.2 ease;
}

.display-container a:hover {
  text-decoration: underline;
}

.display-container-title {
  padding-left: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
}

.display-container-border {
  border-radius: 5px;
  height: calc(100%-2px)
}