:root {
  --header-height: 50px;
}

header {
  padding: var(--padding);
}

body {
  margin-bottom: 50px;
  padding: 5px;
  overflow: hidden;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main {
  height: calc(98.3dvh - var(--header-height));
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.header-title {
  font-size: 2rem;
  font-family: "Nabla", system-ui;
}

nav {
  padding: var(--padding);
}

.nav-title {
  display: block;
  font-weight: bold;
}

a.active {
  color: lightgray;
  font-weight: bold;
}

#app {
  width: 100%;
  height: calc(100%);
  overflow-y: auto;
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }
}
