:root {
  --header-height: 50px;
  color-scheme: light dark;
  color: var(--slate-2);
  background-color: #252525;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

body {
  margin: 0px;
  padding: 5px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main {
  height: calc(97.3dvh - var(--header-height));
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
}

.menu-btn {
 display: none;
}

.header-title {
  font-size: 2rem;
  font-family: "Nabla", system-ui;
}

nav {
  padding: var(--padding);
  overflow-y: auto; 
}

.visible {
  display: block;
}

.nav-title {
  display: block;
  font-weight: bold;
}

a.active {
  color: var(--red-4);
  font-weight: bold;
}

#app {
  width: 100%;
  height: calc(100%);
  overflow-y: auto;
}

@media (min-width: 700px) {
  wc-button {
    display: none;
  }
}

@media (max-width: 700px) {
  main {
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
  }
}
